/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Display');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: Noto Sans Display, sans-serif;
}

nav {
    display: flex;
    color: white;
    background-color: #540B51;
    justify-content: space-between;
    height: 5rem;
}

nav > div {
    display: flex;
    align-items: center;
}

nav img[src*='logo'] {
    height: 1.5rem;
    padding-left: 2rem;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
    display: none;
}
nav a {
    color: white;
    text-decoration: none;
}

nav #menu {
    list-style-type: none;
    flex-direction: column;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1rem;
    display:none;
    border-radius: 2px;
}

nav #menu a {
    color: black;
}

nav #menu a:hover {
    text-decoration: underline;
}

.nav-options:has(.menu-icon:hover) #menu, #menu:hover{
    display: flex;
    position: absolute;
    right: 1rem;
    top: 3rem;
}

.nav-options {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 1rem;
}

.nav-options button {
    border: none;
    background-color: #540B51;
}

header {
    background-color: #540B51;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}

header > div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header p {
    margin: 1rem 0;
}

header button {
    width: 90%;
    margin: 0.3rem;
    height: 3rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button img {
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: 2rem;
    background-color: white;
    border-radius: 2px;
}

header button:nth-child(2) {
    background-color: #4285F4;
    border: none;
    border-radius: 2px;
    color: white;

}

header > div > div {
    text-align: center;
}

header p {
    display: inline-block;
    background: linear-gradient(to right, #ECB12F 15rem, #FFF 15rem);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* TODO: Picture size still needs to be 
changed and picture placement adjusted */
header .app-screen img {
    

}

main {
    background-color: #F3EAE2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 0;
}

main > .companies img {
    height: 1.4rem;
    margin: 1rem 0.5rem;
}

main .companies p {
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
}

 .connect img,  .flexible img, .more img {
    width: 100vw;
    overflow: hidden;
}

.connect img, .more img {
    position: relative;
    right: 1rem;
}

.flexible img {
    position: relative;
    left: 1rem;
}

.connect {
    display: flex;
    flex-direction: column;
}

main section h2 {
    margin-top: 2rem;
    padding: 1rem;
}

main section p {
    padding: 1rem;
}

main section a {
    padding: 1rem;
    text-decoration: none;
    color: #2E71A6;
    margin: 1rem 0 2rem;
    line-height: 4rem;
}


main .meet {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-bottom: 2rem;
}

main .more {
    display: flex;
    flex-direction: column;
}


.flexible {
    display: flex;
    flex-direction: column;
}

.img-first {
    order: -1;
}

.meet h3 {
    padding: 2rem 0 0;
    font-size: 1.8rem;
    font-weight: 900;
    width: 80%;
}

.meet ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meet li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meet li span {
    color:#540B51;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0;
}

.meet li p:nth-child(2) {
    color: black;
    font-size: 0.7rem;
    font-weight: 900;
    width: 60%;
    padding: 0;
}

.meet > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.meet > p {
    width: 100%;
}

.meet button {
    border-radius: 2px;
    width: 95%;
    height: 2.5rem;
    text-transform: uppercase;
    margin: 0.5rem;
}

.meet button:first-of-type {
    background-color: #540B51;
    color: white;
    border: none;
}
.meet button:nth-of-type(2) {
    background-color: white;
    color: #540B51;
    border: solid thin;
}

main .contact {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 3rem 0.8rem 2.5rem;
}

.contact h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.contact button {
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0.5rem 0;
    border-radius: 5px;
}

.contact button:nth-of-type(2) {
    color: white;
    background-color: #540B51;
    order: 2;
}

.contact button:nth-of-type(1) {
    color:#540B51;
    background-color: white;
    order: 3;
}



footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #454245;
    gap: 1rem;
}

footer img[alt='Slack logo'] {
    height: 2.2rem;
    width: 2.2rem;
    margin: 1rem;
    order: 1;
}

footer .list-container {
    display: flex;
    font-size: 0.6rem;
    order: 2;
}

footer .list-container ul {
    list-style: none;
}

footer .list-container li {
    margin: 0.7rem;
    font-weight: 300;
}

footer .list-container li:first-child {
    font-weight: 900;
    margin-bottom: 1rem;
    height: 1.5rem;
}

footer ul.site-options {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
    font-size: 0.6rem;
    font-weight: 600;
    order: 4;
}

footer > .site-options > li:last-child {
    color:#2E71A6;
}


/* Note: To make the icons work, I had to change the imported version of the 
font awesome library */
footer > .site-options > li:last-child::before {
    font: var(--fa-font-solid);
    content: "\f0ed";
    padding-right: 0.5rem;
}

footer > .site-options > li:nth-last-child(2)::before {
    font: var(--fa-font-solid);
    content: "\f0ac";
    padding-right: 0.5rem;
}

main section a::after {
    font: var(--fa-font-solid);
    content: '\f061';
}


footer > ul.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
    list-style-type: none;
    order: 5;
}

.footer-divider {
    border-color: gray;
    order: 3;   
}

footer i {
    color: black;
}

.copyright {
    font-size: 0.7rem;
    font-weight: 300;
    order: 6;
}